* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
}

.wrapper {
  overflow: hidden;
}

.maxSize {
  max-width: 1440px;
  width: 95%;
  margin: 0 auto;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 80px 35px 1fr;
      grid-template-rows: 80px 35px 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 30px;
      grid-template-areas: 'headerLogo headerNav' '. .' 'headerText headerImg';
}

.header .headerLogo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: headerLogo;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 10px;
}

.header .headerNav {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: headerNav;
  font-family: OpenSans-Regular;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header .headerNav .burgerBlock {
  display: none;
  width: 50px;
  height: 35px;
  position: relative;
  z-index: 1000;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.header .headerNav .burgerBlock span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #CAA892;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.header .headerNav .burgerBlock span:nth-child(1) {
  top: 0px;
}

.header .headerNav .burgerBlock span:nth-child(2), .header .headerNav .burgerBlock span:nth-child(3) {
  top: 18px;
}

.header .headerNav .burgerBlock span:nth-child(4) {
  top: 36px;
}

.header .headerNav .burgerBlock.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.header .headerNav .burgerBlock.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header .headerNav .burgerBlock.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header .headerNav .burgerBlock.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.header .headerNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header .headerNav ul li {
  padding: 10px 17px;
}

.header .headerNav ul li .headerNavLink {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header .headerNav ul li .headerNavLink:before {
  content: "";
  width: 0;
  height: 0.1em;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #CAA892;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header .headerNav ul li .headerNavLink:hover:before {
  width: 100%;
  left: 0;
  background: #CAA892;
}

.header .headerNav ul li:last-child {
  background-color: #CAA892;
  margin-left: 60px;
  border-radius: 15px 0px;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
  border: 2px solid #CAA892;
}

.header .headerNav ul li:last-child a {
  text-decoration: none;
  color: #fff;
}

.header .headerNav ul li:last-child:hover {
  background-color: #fff;
  cursor: pointer;
}

.header .headerNav ul li:last-child:hover a {
  color: #CAA892;
}

.header .headerText {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: headerText;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header .headerText span {
  font-family: OpenSans-Regular;
  font-size: 20px;
  text-transform: uppercase;
}

.header .headerText h1 {
  font-family: Poppins-Bold;
  font-size: 60px;
  line-height: 78px;
  margin: 12px 0;
}

.header .headerText p {
  font-family: OpenSans-Regular;
  font-size: 18px;
  line-height: 30px;
}

.header .headerText .headerTextButton {
  font-family: OpenSans-Regular;
  font-size: 18px;
  border-radius: 20px 0px;
  background-color: #37806B;
  border: none;
  padding: 10px 20px;
  color: #fff;
  text-transform: uppercase;
  margin: 20px 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.header .headerText .headerTextButton:hover {
  -webkit-box-shadow: 8px 10px 20px rgba(0, 0, 0, 0.44);
          box-shadow: 8px 10px 20px rgba(0, 0, 0, 0.44);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
}

.header .headerText .headerTextButton:focus, .header .headerText .headerTextButton:active {
  border: none;
  outline: none;
}

.header .headerImg {
  justify-self: end;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: headerImg;
  border: 2px solid #B0855B;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 140px 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.header .headerImg img {
  border-radius: 140px 0px;
  position: relative;
  top: -33px;
  left: -33px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.header .headerImg img:hover {
  top: 0;
  left: 0;
}

.headerNavMobile {
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
  display: none;
}

.headerNavMobile ul li .headerNavLink {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.headerNavMobile ul li .headerNavLink:before {
  content: "";
  width: 0;
  height: 0.1em;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #CAA892;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.headerNavMobile ul li .headerNavLink:hover:before {
  width: 100%;
  left: 0;
  background: #CAA892;
}

.headerNavMobile ul li:last-child {
  background-color: #CAA892;
  margin: 20px 0;
  border-radius: 15px 0px;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
  border: 2px solid #CAA892;
}

.headerNavMobile ul li:last-child a {
  text-decoration: none;
  color: #fff;
}

.headerNavMobile ul li:last-child:hover {
  background-color: #fff;
  cursor: pointer;
}

.headerNavMobile ul li:last-child:hover a {
  color: #CAA892;
}

.main .sectionServices {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  margin-top: 100px;
      grid-template-areas: 'servicesSpan ... ...' 'servicesTitle servicesTitle servicesTitle' 'designServ ArchitectServ planServ';
}

.main .sectionServices .servicesSpan {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: servicesSpan;
  font-family: Poppins-Regular;
  font-size: 20px;
  text-transform: uppercase;
}

.main .sectionServices .servicesTitle {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: servicesTitle;
  font-family: Poppins-Regular;
  font-size: 40px;
}

.main .sectionServices .servicesTitle h2 {
  margin: 0;
}

.main .sectionServices .servicesArrows {
  grid-area: servicesArrows;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: end;
  -ms-flex-item-align: center;
      align-self: center;
}

.main .sectionServices .servicesArrows .navArrow {
  background-color: #37806B;
  padding: 7px 12px;
  border-radius: 50%;
  color: #fff;
  -webkit-box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
          box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
  margin: 0 12px;
}

.main .sectionServices .servicesBlock {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70px 1fr;
      grid-template-columns: 70px 1fr;
      grid-template-areas: 'serviceSvg serviceTitle' 'serviceSvg serviceText';
  -webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
  border-radius: 60px 0px;
  padding: 35px;
  margin: 40px 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.main .sectionServices .servicesBlock:hover {
  background-color: #CAA892;
  cursor: pointer;
  color: #fff;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.main .sectionServices .servicesBlock .serviceSvg {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: serviceSvg;
  width: 50px;
  padding: 9px 0;
}

.main .sectionServices .servicesBlock .serviceSvg img {
  width: 100%;
}

.main .sectionServices .servicesBlock .serviceSubtitle {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: serviceTitle;
  font-family: OpenSans-SemiBold;
  font-size: 24px;
  margin: 0;
}

.main .sectionServices .servicesBlock .serviceText {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: serviceText;
  font-family: OpenSans-Regular;
  font-size: 18px;
  color: #646464;
}

.main .sectionServices .servicesBlock .serviceText:hover {
  color: #fff;
}

.main .sectionServices .designServ {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: designServ;
}

.main .sectionServices .ArchitectServ {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: ArchitectServ;
}

.main .sectionServices .planServ {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: planServ;
}

.main .sectionAboutUs .aboutUsWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 160px 1fr;
      grid-template-columns: 1fr 160px 1fr;
  gap: 40px;
      grid-template-areas: 'aboutUsImg . aboutUsText';
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 200px 0;
}

.main .sectionAboutUs .aboutUsWrapper .aboutUsImg {
  border: 2px solid #B0855B;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: aboutUsImg;
  border-radius: 140px 0px;
  display: inherit;
}

.main .sectionAboutUs .aboutUsWrapper .aboutUsImg img {
  border-radius: 140px 0px;
  position: relative;
  right: -35px;
  bottom: -35px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.main .sectionAboutUs .aboutUsWrapper .aboutUsImg img:hover {
  right: 0;
  bottom: 0;
}

.main .sectionAboutUs .aboutUsWrapper .aboutUsText {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: aboutUsText;
}

.main .sectionAboutUs .aboutUsWrapper .aboutUsText span {
  font-family: OpenSans-Regular;
  font-size: 20px;
  text-transform: uppercase;
}

.main .sectionAboutUs .aboutUsWrapper .aboutUsText h2 {
  font-family: Poppins-Regular;
  font-size: 48px;
  line-height: 57px;
  margin: 12px 0;
}

.main .sectionAboutUs .aboutUsWrapper .aboutUsText p {
  font-family: OpenSans-Regular;
  font-size: 18px;
  line-height: 30px;
}

.main .sectionAboutUs .aboutUsWrapper .aboutUsText .aboutUsTextButton {
  font-family: OpenSans-Regular;
  font-size: 18px;
  border-radius: 20px 0px;
  background-color: #37806B;
  border: none;
  padding: 10px 20px;
  color: #fff;
  text-transform: uppercase;
  margin: 20px 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.main .sectionAboutUs .aboutUsWrapper .aboutUsText .aboutUsTextButton:hover {
  -webkit-box-shadow: 8px 10px 20px rgba(0, 0, 0, 0.44);
          box-shadow: 8px 10px 20px rgba(0, 0, 0, 0.44);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
}

.main .sectionAboutUs .aboutUsWrapper .aboutUsText .aboutUsTextButton:focus, .main .sectionAboutUs .aboutUsWrapper .aboutUsText .aboutUsTextButton:active {
  border: none;
  outline: none;
}

.main .sectionSuccess {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 100px;
      grid-template-areas: 'successText successImg';
}

.main .sectionSuccess .successText {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: successText;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.main .sectionSuccess .successText .textImageSuccess {
  background: url(../img/20BG1.jpg);
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main .sectionSuccess .successText .textImageSuccess p {
  color: #CAA892;
  margin: 0;
  font-family: Poppins-SemiBold;
  font-size: 288px;
  line-height: 300px;
}

.main .sectionSuccess .successText h2 {
  font-family: Poppins-Regular;
  font-size: 50px;
  line-height: 65px;
  margin: 0;
}

.main .sectionSuccess .successText .successTextButton {
  font-family: OpenSans-Regular;
  font-size: 18px;
  border-radius: 20px 0px;
  background-color: #37806B;
  border: none;
  padding: 10px 20px;
  color: #fff;
  text-transform: uppercase;
  margin: 20px 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.main .sectionSuccess .successText .successTextButton:hover {
  -webkit-box-shadow: 8px 10px 20px rgba(0, 0, 0, 0.44);
          box-shadow: 8px 10px 20px rgba(0, 0, 0, 0.44);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
}

.main .sectionSuccess .successText .successTextButton:focus, .main .sectionSuccess .successText .successTextButton:active {
  border: none;
  outline: none;
}

.main .sectionSuccess .successImg {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: successImg;
  border: 2px solid #B0855B;
  border-radius: 140px 0px;
  display: inherit;
}

.main .sectionSuccess .successImg img {
  border-radius: 140px 0px;
  position: relative;
  right: 30px;
  bottom: 30px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.main .sectionSuccess .successImg img:hover {
  right: 0;
  bottom: 0;
}

.main .sectionCompletedWork {
  display: -ms-grid;
  display: grid;
  margin: 200px auto;
  background-color: grey;
      grid-template-areas: 'completeTitleBlock' 'completeInfoBlock';
  padding: 100px 0;
}

.main .sectionCompletedWork .completeTitleBlock {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: completeTitleBlock;
}

.main .sectionCompletedWork .completeTitleBlock h3 {
  font-family: Poppins-Regular;
  font-size: 48px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.main .sectionCompletedWork .completeInfoBlock {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: completeInfoBlock;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'statProject statClient statwinners statRecommend';
  -ms-grid-columns: (185px)[4];
      grid-template-columns: repeat(4, 185px);
  -ms-grid-rows: minmax(130px, 185px);
      grid-template-rows: minmax(130px, 185px);
  grid-auto-rows: minmax(130px, 185px);
  margin: 0 auto;
  gap: 170px;
  margin-top: 70px;
}

.main .sectionCompletedWork .completeInfoBlock .statBlock {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
  border-radius: 40px 0px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.main .sectionCompletedWork .completeInfoBlock .statBlock .statInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .sectionCompletedWork .completeInfoBlock .statBlock .statInfo strong {
  font-family: Poppins-SemiBold;
  font-size: 50px;
  line-height: 60px;
}

.main .sectionCompletedWork .completeInfoBlock .statBlock .statInfo span {
  font-family: Poppins-Regular;
  font-size: 18px;
  line-height: 30px;
  color: #646464;
}

.main .sectionCompletedWork .completeInfoBlock .statBlock:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main .sectionCompletedWork .completeInfoBlock .statProject {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: statProject;
}

.main .sectionCompletedWork .completeInfoBlock .statClient {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: statClient;
}

.main .sectionCompletedWork .completeInfoBlock .statwinners {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: statwinners;
}

.main .sectionCompletedWork .completeInfoBlock .statRecommend {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: statRecommend;
}

.main .sectionTestimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .sectionTestimonials .testimonialsArrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 80px 0 20px;
}

.main .sectionTestimonials .testimonialsArrows .testArrow {
  background-color: #fff;
  padding: 7px 12px;
  border-radius: 50%;
  color: #000;
  -webkit-box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
          box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
  margin: 0 12px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.main .sectionTestimonials .testimonialsArrows .testArrow:hover {
  background-color: #37806B;
  color: #fff;
  cursor: pointer;
}

.main .sectionTestimonials .testimonialsTitle {
  text-align: center;
}

.main .sectionTestimonials .testimonialsTitle span {
  text-transform: uppercase;
  font-family: Poppins-Regular;
  font-size: 20px;
  line-height: 30px;
}

.main .sectionTestimonials .testimonialsTitle h3 {
  font-family: Poppins-Regular;
  font-size: 48px;
  line-height: 72px;
  margin: 0;
}

.main .sectionTestimonials .feedbackBlock {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: minmax(220px, 1fr);
      grid-template-rows: minmax(220px, 1fr);
  gap: 80px;
}

.main .sectionTestimonials .feedbackBlock .card {
  -webkit-box-shadow: 7px 7px 30px 5px rgba(66, 96, 84, 0.15);
          box-shadow: 7px 7px 30px 5px rgba(66, 96, 84, 0.15);
  border-radius: 70px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.main .sectionTestimonials .feedbackBlock .card .cardImg {
  border-radius: 70px 0px;
  position: relative;
  border-radius: 30px 0px;
  margin-right: 30px;
}

.main .sectionTestimonials .feedbackBlock .card .cardImg img {
  left: -50%;
  border-radius: 30px 0px;
}

.main .sectionTestimonials .feedbackBlock .card .cardInfo .cardInfoTitle {
  font-family: Poppins-Regular;
}

.main .sectionTestimonials .feedbackBlock .card .cardInfo .cardInfoTitle strong {
  font-size: 24px;
  line-height: 32px;
}

.main .sectionTestimonials .feedbackBlock .card .cardInfo .cardInfoTitle span {
  font-size: 16px;
  line-height: 21px;
  color: #646464;
}

.main .sectionTestimonials .feedbackBlock .card .cardInfo .cardInfoText {
  font-family: OpenSans-Regular;
  color: #646464;
  font-size: 18px;
  line-height: 28px;
}

.main .sectionTestimonials .feedbackBlock .card:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.main .sectionBlog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F8F8F8;
  padding: 90px 0 50px;
  margin: 100px 0;
}

.main .sectionBlog .blogTitle {
  text-align: center;
}

.main .sectionBlog .blogTitle span {
  text-transform: uppercase;
  font-family: Poppins-Regular;
  font-size: 20px;
  line-height: 30px;
}

.main .sectionBlog .blogTitle h3 {
  font-family: Poppins-Regular;
  font-size: 48px;
  line-height: 72px;
  margin: 0;
}

.main .sectionBlog .blogCardContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(250px, 650px) minmax(250px, 650px);
      grid-template-columns: minmax(250px, 650px) minmax(250px, 650px);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 60px;
  margin: 70px 10px;
}

.main .sectionBlog .blogCardContainer .blogCard {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'img' 'title' 'description' 'button';
  -ms-grid-columns: minmax(350px, 620px);
      grid-template-columns: minmax(350px, 620px);
  -ms-grid-rows: 1fr 65px 75px 110px;
      grid-template-rows: 1fr 65px 75px 110px;
}

.main .sectionBlog .blogCardContainer .blogCard .blogCardImg {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img;
  border: 2px solid #B0855B;
  border-radius: 100px 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
}

.main .sectionBlog .blogCardContainer .blogCard .blogCardImg img {
  border-radius: 100px 0px;
  position: relative;
  right: 17px;
  bottom: 17px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  width: 100%;
}

.main .sectionBlog .blogCardContainer .blogCard .blogCardImg img:hover {
  right: 0px;
  bottom: 0px;
}

.main .sectionBlog .blogCardContainer .blogCard h4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: title;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  font-family: OpenSans-SemiBold;
  font-size: 30px;
  line-height: 28px;
  margin: 0;
}

.main .sectionBlog .blogCardContainer .blogCard p {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: description;
  font-family: OpenSans-Regular;
  font-size: 18px;
  line-height: 28px;
  margin: 0;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.main .sectionBlog .blogCardContainer .blogCard .blogButton {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: button;
  font-family: OpenSans-Regular;
  font-size: 18px;
  border-radius: 20px 0px;
  background-color: #37806B;
  border: none;
  padding: 10px 20px;
  color: #fff;
  text-transform: uppercase;
  margin: 20px 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  width: 270px;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.main .sectionBlog .blogCardContainer .blogCard .blogButton:hover {
  -webkit-box-shadow: 8px 10px 20px rgba(0, 0, 0, 0.44);
          box-shadow: 8px 10px 20px rgba(0, 0, 0, 0.44);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
}

.main .sectionBlog .blogCardContainer .blogCard .blogButton:focus, .main .sectionBlog .blogCardContainer .blogCard .blogButton:active {
  border: none;
  outline: none;
}

.main .sectionSignUp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 100px auto;
}

.main .sectionSignUp .signUpBlockText h3 {
  text-transform: uppercase;
  font-family: Poppins-Regular;
  font-size: 48px;
  line-height: 28px;
  letter-spacing: 8px;
}

.main .sectionSignUp .signUpBlockText .greyLine {
  border: 1px solid #C4C4C4;
  width: 500px;
  margin: 0 auto;
}

.main .sectionSignUp .signUpBlockText p {
  font-family: Poppins-Regular;
  font-size: 18px;
  line-height: 28px;
  color: #646464;
  margin: 40px auto;
  width: 85%;
}

.main .sectionSignUp .signUpBlockInput {
  border-radius: 20px 0px;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .sectionSignUp .signUpBlockInput input {
  padding: 0 25px;
  width: 600px;
  border: none;
  outline: none;
  font-family: Ralewat-Medium;
  font-size: 18px;
  line-height: 55px;
  background: #eee;
}

.main .sectionSignUp .signUpBlockInput input:focus {
  border: none;
  outline: none;
}

.main .sectionSignUp .signUpBlockInput button {
  background: #37806B;
  font-family: OpenSans-Regular;
  font-size: 18px;
  border: none;
  padding: 10px 45px;
  color: #fff;
  text-transform: uppercase;
}

.main .sectionSignUp .signUpBlockInput button:hover {
  cursor: pointer;
}

.main .sectionSignUp .signUpBlockInput button:focus {
  border: none;
  outline: none;
}

.footer {
  background: #F8F8F8;
}

.footer ul {
  padding: 0;
}

.footer ul li {
  list-style: none;
}

.footer ul li a {
  font-family: OpenSans-Regular;
  font-size: 18px;
  line-height: 46px;
  position: relative;
  cursor: pointer;
  color: #646464;
}

.footer ul li a:before {
  content: "";
  width: 0;
  height: 0.1em;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #CAA892;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.footer ul li a:hover:before {
  width: 100%;
  left: 0;
  background: #CAA892;
}

.footer .footerWrapper {
  display: -ms-grid;
  display: grid;
  max-width: 1440px;
  margin: 0 auto;
      grid-template-areas: 'logo quick company contact follow' 'copyright copyright copyright copyright copyright';
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: 1fr 60px;
      grid-template-rows: 1fr 60px;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  row-gap: 25px;
  padding: 80px 0 0;
}

.footer .footerWrapper .footerStrongTitle {
  font-family: Poppins-SemiBold;
  font-size: 24px;
  line-height: 40px;
}

.footer .footerWrapper .footerLogo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footerWrapper .footerLogo img {
  width: 150px;
}

.footer .footerWrapper .footerLogo p {
  font-family: Poppins-Regular;
  font-size: 18px;
  line-height: 28px;
  color: #646464;
}

.footer .footerWrapper .footerQuickLinks {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: quick;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footerWrapper .footerCompany {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: company;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footerWrapper .footerContact {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: contact;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footerWrapper .footerContact p {
  font-family: OpenSans-Regular;
  font-size: 18px;
  line-height: 46px;
  color: #646464;
}

.footer .footerWrapper .footerFollow {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: follow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footerWrapper .footerFollow i {
  background-color: #D5D5D5;
  line-height: 2.3;
  text-align: center;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  color: #fff;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  margin: 20px 3px;
}

.footer .footerWrapper .footerFollow i:first-child {
  margin: 0 3px 0 0;
}

.footer .footerWrapper .footerFollow i:hover {
  background-color: #37806B;
  cursor: pointer;
}

.footer .footerWrapper .copyright {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: copyright;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #646464;
  font-family: OpenSans-Regular;
  font-size: 18px;
  line-height: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #C4C4C4;
}
/*# sourceMappingURL=style.css.map */