@import '../styles/fonts.scss';
@import '../styles/media.scss';


* {
    box-sizing: border-box;
}

ul {
    padding: 0;

    li {
        list-style: none;

        a {
            text-decoration: none;
        }
    }
}

// header, section {
//     max-width: 1440px;
//     margin: 0 auto;
// }

body {
    padding: 0;
    margin: 0;
}

$greenColor: #37806B;
$brownColor: #CAA892;
$bgColor: #F8F8F8;
$greyColor: #646464;

.wrapper {
    overflow: hidden;
}

.maxSize {
    max-width: 1440px;
    width: 95%;
    margin: 0 auto;
}

.header {
    display: grid;
    grid-template-rows: 80px 35px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    grid-template-areas:
        'headerLogo headerNav'
        '. .'
        'headerText headerImg';

    .headerLogo {
        grid-area: headerLogo;
        align-self: center;
        padding: 10px;
    }

    .headerNav {
        grid-area: headerNav;
        font-family: OpenSans-Regular;
        justify-self: end;
        align-self: center;

        .burgerBlock {
            display: none;
            width: 50px;
            height: 35px;
            position: relative;
            z-index: 1000;
            margin: 50px auto;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .5s ease-in-out;
            -moz-transition: .5s ease-in-out;
            -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
            cursor: pointer;

            span {
                display: block;
                position: absolute;
                height: 9px;
                width: 100%;
                background: $brownColor;
                border-radius: 9px;
                opacity: 1;
                left: 0;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: .25s ease-in-out;
                -moz-transition: .25s ease-in-out;
                -o-transition: .25s ease-in-out;
                transition: .25s ease-in-out;


                &:nth-child(1) {
                    top: 0px;
                }

                &:nth-child(2),
                &:nth-child(3) {
                    top: 18px;
                }

                &:nth-child(4) {
                    top: 36px;
                }
            }

            &.open span:nth-child(1) {
                top: 18px;
                width: 0%;
                left: 50%;
            }

            &.open span:nth-child(2) {
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
            }

            &.open span:nth-child(3) {
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }

            &.open span:nth-child(4) {
                top: 18px;
                width: 0%;
                left: 50%;
            }
        }

        ul {
            display: flex;
            list-style: none;

            li {
                padding: 10px 17px;

                .headerNavLink {
                    text-decoration: none;
                    color: #000;
                    text-transform: uppercase;
                    position: relative;
                    transition: all .3s;

                    &:before {
                        content: "";
                        width: 0;
                        height: 0.1em;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        background: $brownColor;
                        transition: all 0.5s;
                    }

                    &:hover {
                        &:before {
                            width: 100%;
                            left: 0;
                            background: $brownColor;
                        }
                    }
                }

                &:last-child {
                    background-color: $brownColor;
                    margin-left: 60px;
                    border-radius: 15px 0px;
                    transition: background-color .3s ease;
                    border: 2px solid $brownColor;

                    a {
                        text-decoration: none;
                        color: #fff;

                    }

                    &:hover {
                        background-color: #fff;
                        // border: 1px solid $brownColor;
                        cursor: pointer;

                        a {
                            color: $brownColor;

                        }
                    }
                }
            }
        }
    }



    .headerText {
        grid-area: headerText;
        align-self: center;

        span {
            font-family: OpenSans-Regular;
            font-size: 20px;
            text-transform: uppercase;
        }

        h1 {
            font-family: Poppins-Bold;
            font-size: 60px;
            line-height: 78px;
            margin: 12px 0;
        }

        p {
            font-family: OpenSans-Regular;
            font-size: 18px;
            line-height: 30px;
        }

        .headerTextButton {
            font-family: OpenSans-Regular;
            font-size: 18px;
            border-radius: 20px 0px;
            background-color: $greenColor;
            border: none;
            padding: 10px 20px;
            color: #fff;
            text-transform: uppercase;
            margin: 20px 0;
            transition: all .3s ease;

            &:hover {
                box-shadow: 8px 10px 20px rgba(0, 0, 0, 0.44);
                transform: scale(1.05);
                cursor: pointer;
            }

            &:focus,
            &:active {
                border: none;
                outline: none;
            }
        }

    }

    .headerImg {
        justify-self: end;
        grid-area: headerImg;
        border: 2px solid #B0855B;
        box-sizing: border-box;
        border-radius: 140px 0px;
        display: inline-flex;

        img {
            border-radius: 140px 0px;
            position: relative;
            top: -33px;
            left: -33px;
            box-sizing: border-box;
            transition: all .5s ease;

            &:hover {
                top: 0;
                left: 0;
            }
        }
    }
}

.headerNavMobile {
    // transition: all .4s cubic-bezier(0.33, 1, 0.68, 1);
    transition: all .4s ease;
    display: none;
    opacity: 0;

    ul {
        li {
            .headerNavLink {
                text-decoration: none;
                color: #000;
                text-transform: uppercase;
                position: relative;
                transition: all .3s;

                &:before {
                    content: "";
                    width: 0;
                    height: 0.1em;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background: $brownColor;
                    transition: all 0.5s;
                }

                &:hover {
                    &:before {
                        width: 100%;
                        left: 0;
                        background: $brownColor;
                    }
                }

            }

            &:last-child {
                background-color: $brownColor;
                margin: 20px 0;
                border-radius: 15px 0px;
                transition: background-color .3s ease;
                border: 2px solid $brownColor;

                a {
                    text-decoration: none;
                    color: #fff;

                }

                &:hover {
                    background-color: #fff;
                    // border: 1px solid $brownColor;
                    cursor: pointer;

                    a {
                        color: $brownColor;

                    }
                }
            }
        }
    }
}

.main {
    .sectionServices {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        // grid-template-rows: 80px 1fr;
        column-gap: 40px;
        margin-top: 100px;


        grid-template-areas:
            'servicesSpan ... ...'
            'servicesTitle servicesTitle servicesTitle'
            'designServ ArchitectServ planServ';

        .servicesSpan {
            grid-area: servicesSpan;
            font-family: Poppins-Regular;
            font-size: 20px;
            text-transform: uppercase;
        }

        .servicesTitle {
            grid-area: servicesTitle;
            font-family: Poppins-Regular;
            font-size: 40px;

            h2 {
                margin: 0;

            }
        }

        .servicesArrows {
            grid-area: servicesArrows;
            display: flex;
            justify-self: end;
            align-self: center;

            .navArrow {
                background-color: $greenColor;
                padding: 7px 12px;
                border-radius: 50%;
                color: #fff;
                box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
                margin: 0 12px;
            }
        }

        .servicesBlock {
            display: grid;
            grid-template-columns: 70px 1fr;
            grid-template-areas:
                'serviceSvg serviceTitle'
                'serviceSvg serviceText';
            box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
            border-radius: 60px 0px;
            padding: 35px;
            margin: 40px 0;
            transition: all .3s ease;

            &:hover {
                background-color: $brownColor;
                cursor: pointer;
                color: #fff;
                transform: scale(1.05);

            }

            .serviceSvg {
                grid-area: serviceSvg;
                width: 50px;
                padding: 9px 0;

                img {
                    width: 100%;
                }
            }

            .serviceSubtitle {
                grid-area: serviceTitle;
                font-family: OpenSans-SemiBold;
                font-size: 24px;
                margin: 0;
            }

            .serviceText {
                grid-area: serviceText;
                font-family: OpenSans-Regular;
                font-size: 18px;
                color: $greyColor;

                &:hover {
                    color: #fff;
                }
            }


        }

        .designServ {
            grid-area: designServ;
        }

        .ArchitectServ {
            grid-area: ArchitectServ;
        }

        .planServ {
            grid-area: planServ;
        }
    }

    .sectionAboutUs {
        .aboutUsWrapper {
            display: grid;
            grid-template-columns: 1fr 160px 1fr;
            gap: 40px;
            grid-template-areas:
                'aboutUsImg . aboutUsText';
            justify-items: center;
            align-items: center;
            margin: 200px 0;


            .aboutUsImg {
                border: 2px solid #B0855B;
                grid-area: aboutUsImg;
                border-radius: 140px 0px;
                display: flex;

                img {
                    border-radius: 140px 0px;
                    position: relative;
                    right: -35px;
                    bottom: -35px;
                    transition: all .5s ease;

                    &:hover {
                        right: 0;
                        bottom: 0;
                    }
                }
            }

            .aboutUsText {
                grid-area: aboutUsText;


                span {
                    font-family: OpenSans-Regular;
                    font-size: 20px;
                    text-transform: uppercase;
                }

                h2 {
                    font-family: Poppins-Regular;
                    font-size: 48px;
                    line-height: 57px;
                    margin: 12px 0;
                }

                p {
                    font-family: OpenSans-Regular;
                    font-size: 18px;
                    line-height: 30px;
                }

                .aboutUsTextButton {
                    font-family: OpenSans-Regular;
                    font-size: 18px;
                    border-radius: 20px 0px;
                    background-color: $greenColor;
                    border: none;
                    padding: 10px 20px;
                    color: #fff;
                    text-transform: uppercase;
                    margin: 20px 0;
                    transition: all .3s ease;

                    &:hover {
                        box-shadow: 8px 10px 20px rgba(0, 0, 0, 0.44);
                        transform: scale(1.05);
                        cursor: pointer;
                    }

                    &:focus,
                    &:active {
                        border: none;
                        outline: none;
                    }
                }
            }

            .aboutUsShowImg {
                display: none;
            }
        }
    }

    .sectionSuccess {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 100px;
        grid-template-areas: 'successText successImg';

        .successText {
            grid-area: successText;
            align-self: center;

            .textImageSuccess {
                background: url(../img/20BG1.jpg);
                background-size: cover;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                p {
                    color: $brownColor;
                    margin: 0;
                    font-family: Poppins-SemiBold;
                    font-size: 288px;
                    line-height: 300px;
                    // mix-blend-mode: lighten;
                }
            }

            h2 {
                font-family: Poppins-Regular;
                font-size: 50px;
                line-height: 65px;
                margin: 0;
            }

            .successTextButton {
                font-family: OpenSans-Regular;
                font-size: 18px;
                border-radius: 20px 0px;
                background-color: $greenColor;
                border: none;
                padding: 10px 20px;
                color: #fff;
                text-transform: uppercase;
                margin: 20px 0;
                transition: all .3s ease;

                &:hover {
                    box-shadow: 8px 10px 20px rgba(0, 0, 0, 0.44);
                    transform: scale(1.05);
                    cursor: pointer;
                }

                &:focus,
                &:active {
                    border: none;
                    outline: none;
                }
            }
        }

        .successImg {
            grid-area: successImg;
            border: 2px solid #B0855B;
            border-radius: 140px 0px;
            display: flex;


            img {
                border-radius: 140px 0px;
                position: relative;
                right: 30px;
                bottom: 30px;
                transition: all .5s ease;

                &:hover {
                    right: 0;
                    bottom: 0;
                }
            }
        }
    }

    .sectionCompletedWork {
        display: grid;
        margin: 200px auto;
        background-color: $bgColor;
        grid-template-areas:
            'completeTitleBlock'
            'completeInfoBlock';
        padding: 100px 0;


        .completeTitleBlock {
            grid-area: completeTitleBlock;

            h3 {
                font-family: Poppins-Regular;
                font-size: 48px;
                max-width: 800px;
                margin: 0 auto;
                text-align: center;
            }
        }

        .completeInfoBlock {
            grid-area: completeInfoBlock;
            display: grid;
            grid-template-areas:
                'statProject statClient statwinners statRecommend';
            grid-template-columns: repeat(4, 185px);
            grid-template-rows: minmax(130px, 185px);
            grid-auto-rows: minmax(130px, 185px);
            margin: 0 auto;
            gap: 170px;
            margin-top: 70px;

            .statBlock {
                background: #FFFFFF;
                box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
                border-radius: 40px 0px;
                transition: all .3s ease;

                .statInfo {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    height: 100%;
                    justify-content: center;

                    strong {
                        font-family: Poppins-SemiBold;
                        font-size: 50px;
                        line-height: 60px;
                    }

                    span {
                        font-family: Poppins-Regular;
                        font-size: 18px;
                        line-height: 30px;
                        color: $greyColor;
                    }
                }

                &:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                }
            }

            .statProject {
                grid-area: statProject;
            }

            .statClient {
                grid-area: statClient;
            }

            .statwinners {
                grid-area: statwinners;
            }

            .statRecommend {
                grid-area: statRecommend;
            }
        }
    }

    .sectionTestimonials {
        display: flex;
        flex-direction: column;
        align-items: center;

        .testimonialsArrows {
            display: flex;
            justify-content: flex-end;
            margin: 80px 0 20px;

            .testArrow {
                background-color: #fff;
                padding: 7px 12px;
                border-radius: 50%;
                color: #000;
                box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
                margin: 0 12px;
                transition: all .3s ease;

                &:hover {
                    background-color: $greenColor;
                    color: #fff;
                    cursor: pointer;
                }
            }
        }

        .testimonialsTitle {
            text-align: center;

            span {
                text-transform: uppercase;
                font-family: Poppins-Regular;
                font-size: 20px;
                line-height: 30px;
            }

            h3 {
                font-family: Poppins-Regular;
                font-size: 48px;
                line-height: 72px;
                margin: 0;
            }
        }

        .feedbackBlock {
            display: grid;
            // grid-template-areas:
            //     'card card';
            grid-template-columns: 1fr 1fr;
            grid-template-rows: minmax(220px, 1fr);
            gap: 80px;

            .card {
                box-shadow: 7px 7px 30px 5px rgba(66, 96, 84, 0.15);
                border-radius: 70px 0px;
                display: flex;
                align-items: center;
                padding: 30px;
                transition: all .3s ease;

                .cardImg {
                    border-radius: 70px 0px;
                    position: relative;
                    border-radius: 30px 0px;
                    margin-right: 30px;

                    img {
                        // position: absolute;
                        left: -50%;
                        border-radius: 30px 0px;

                    }
                }

                .cardInfo {
                    .cardInfoTitle {
                        font-family: Poppins-Regular;

                        strong {
                            font-size: 24px;
                            line-height: 32px;
                        }

                        span {
                            font-size: 16px;
                            line-height: 21px;
                            color: $greyColor;
                        }
                    }

                    .cardInfoText {
                        font-family: OpenSans-Regular;
                        color: $greyColor;
                        font-size: 18px;
                        line-height: 28px;
                    }
                }

                &:hover {
                    cursor: pointer;
                    transform: scale(1.05);
                }
            }
        }


    }

    .sectionBlog {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $bgColor;
        padding: 90px 0 50px;
        margin: 100px 0;

        .blogTitle {
            // grid-area: blogTitle;
            text-align: center;

            span {
                text-transform: uppercase;
                font-family: Poppins-Regular;
                font-size: 20px;
                line-height: 30px;
            }

            h3 {
                font-family: Poppins-Regular;
                font-size: 48px;
                line-height: 72px;
                margin: 0;
            }
        }

        .blogCardContainer {
            display: grid;
            grid-template-columns: minmax(250px, 650px) minmax(250px, 650px);
            // grid-template-columns: repeat(auto-fill, minmax(100px, 650px));
            grid-template-rows: 1fr;
            gap: 60px;
            margin: 70px 10px;

            .blogCard {
                display: grid;
                grid-template-areas:
                    'img'
                    'title'
                    'description'
                    'button';
                // grid-template-columns: 620px 620px;
                grid-template-columns: minmax(350px, 620px);
                grid-template-rows: 1fr 65px 75px 110px;

                .blogCardImg {
                    grid-area: img;
                    border: 2px solid #B0855B;
                    border-radius: 100px 0px;
                    display: inline-flex;
                    width: 100%;

                    img {
                        border-radius: 100px 0px;
                        position: relative;
                        right: 17px;
                        bottom: 17px;
                        transition: all .5s ease;
                        width: 100%;


                        &:hover {
                            right: 0px;
                            bottom: 0px;
                        }
                    }
                }

                h4 {
                    grid-area: title;
                    align-self: end;
                    font-family: OpenSans-SemiBold;
                    font-size: 30px;
                    line-height: 28px;
                    margin: 0;
                }

                p {
                    grid-area: description;
                    font-family: OpenSans-Regular;
                    font-size: 18px;
                    line-height: 28px;
                    margin: 0;
                    align-self: end;

                }

                .blogButton {
                    grid-area: button;
                    font-family: OpenSans-Regular;
                    font-size: 18px;
                    border-radius: 20px 0px;
                    background-color: $greenColor;
                    border: none;
                    padding: 10px 20px;
                    color: #fff;
                    text-transform: uppercase;
                    margin: 20px 0;
                    transition: all .3s ease;
                    width: 270px;
                    align-self: end;

                    &:hover {
                        box-shadow: 8px 10px 20px rgba(0, 0, 0, 0.44);
                        transform: scale(1.05);
                        cursor: pointer;
                    }

                    &:focus,
                    &:active {
                        border: none;
                        outline: none;
                    }
                }
            }


        }
    }

    .sectionSignUp {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 100px auto;

        .signUpBlockText {

            h3 {
                text-transform: uppercase;
                font-family: Poppins-Regular;
                font-size: 48px;
                line-height: 28px;
                letter-spacing: 8px;
            }

            .greyLine {
                border: 1px solid #C4C4C4;
                width: 500px;
                margin: 0 auto;
            }

            p {
                font-family: Poppins-Regular;
                font-size: 18px;
                line-height: 28px;
                color: $greyColor;
                margin: 40px auto;
                width: 85%;
            }
        }

        .signUpBlockInput {
            border-radius: 20px 0px;
            overflow: hidden;
            position: relative;
            display: flex;

            input {
                padding: 0 25px;
                width: 600px;
                border: none;
                outline: none;
                font-family: Ralewat-Medium;
                font-size: 18px;
                line-height: 55px;
                background: #eee;

                &:focus {
                    border: none;
                    outline: none;
                }
            }

            button {
                background: $greenColor;
                font-family: OpenSans-Regular;
                font-size: 18px;
                border: none;
                padding: 10px 45px;
                color: #fff;
                text-transform: uppercase;

                &:hover {
                    cursor: pointer;
                }

                &:focus {
                    border: none;
                    outline: none;
                }
            }
        }
    }
}

.footer {
    background: $bgColor;

    ul {
        padding: 0;

        li {
            list-style: none;

            a {
                font-family: OpenSans-Regular;
                font-size: 18px;
                line-height: 46px;
                position: relative;
                cursor: pointer;
                color: $greyColor;

                &:before {
                    content: "";
                    width: 0;
                    height: 0.1em;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background: $brownColor;
                    transition: all 0.5s;
                }

                &:hover {
                    &:before {
                        width: 100%;
                        left: 0;
                        background: $brownColor;
                    }
                }
            }
        }
    }

    .footerWrapper {
        display: grid;
        max-width: 1440px;
        margin: 0 auto;
        grid-template-areas:
            'logo quick company contact follow'
            'copyright copyright copyright copyright copyright';
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr 60px;
        column-gap: 15px;
        row-gap: 25px;
        padding: 80px 10px 0;


        .footerStrongTitle {
            font-family: Poppins-SemiBold;
            font-size: 24px;
            line-height: 40px;

        }

        .footerLogo {
            grid-area: logo;
            display: flex;
            flex-direction: column;

            img {
                width: 150px;
            }

            p {
                font-family: Poppins-Regular;
                font-size: 18px;
                line-height: 28px;
                color: $greyColor;

            }
        }

        .footerQuickLinks {
            grid-area: quick;
            display: flex;
            flex-direction: column;
        }

        .footerCompany {
            grid-area: company;
            display: flex;
            flex-direction: column;
        }

        .footerContact {
            grid-area: contact;
            display: flex;
            flex-direction: column;


            p {
                font-family: OpenSans-Regular;
                font-size: 18px;
                line-height: 46px;
                color: $greyColor;

            }
        }

        .footerFollow {
            grid-area: follow;
            display: flex;
            flex-direction: column;

            i {
                background-color: #D5D5D5;
                line-height: 2.3;
                text-align: center;
                width: 37px;
                height: 37px;
                border-radius: 50%;
                color: #fff;
                transition: all .3s ease;
                margin: 20px 3px;


                &:first-child {
                    margin: 0 3px 0 0;
                }

                &:hover {
                    background-color: $greenColor;
                    cursor: pointer;
                }
            }
        }

        .copyright {
            grid-area: copyright;
            display: flex;
            color: $greyColor;
            font-family: OpenSans-Regular;
            font-size: 18px;
            line-height: 25px;
            justify-content: center;
            border-top: 1px solid #C4C4C4;
        }
    }

}